<div ng-if="newAbonentTmpl">
    <div class="grid">
        <div class="grid__box grid__box--size-3">
            <b class="color-gray-dark">Расчёт компенсации</b>
        </div>
        <div class="grid__box grid__box--size-9">
            <div class="grid">
                <div class="grid__box grid__box--size-min">
                    Дней до конца БЦ: <b>{{days_left}}</b> &nbsp; &nbsp; 
                    Стоимость: <input type="number" id="cost_input" style="width: 50px" /> &nbsp; Сумма: <span id="compensation_result"></span>
                </div>
            </div>
        </div>
    </div>
</div>
