<table border="1" id="quickTT_buttons" style="border-collapse:collapse;width:80%" cellpadding="3">
  <tr style="text-align:center"><th style="width: 50%">Интернет</th><th>ТВ</th></tr>
  <tr style="text-align:center">
    <td>
    <!-- <button class="btn-lg" value="t_operator" data-type="ttype">Кнопка</button></td> -->
      <button class="btn-lg" value="support" data-type="11">Нет линка</button>
      <button class="btn-lg" value="support" data-type="7">Низкая скорость</button>
      <button class="btn-lg" value="support" data-type="102">Не открываются внешние страницы</button>
      <button class="btn-lg" value="support" data-type="4">Ошибка/678/769/800/809/868</button>
      <button class="btn-lg" value="support" data-type="203">Роутер. Не выходит ONLINE</button>
      <button class="btn-lg" value="support" data-type="269">Не открывается Captive-портал</button>
    </td>
    <td>
      <button class="btn-lg" value="support" data-type="110">ТВ. Висит логотип Билайн</button>
      <button class="btn-lg" value="support" data-type="208">ТВ. Проблемы с аудио/видео</button>
      <button class="btn-lg" value="support" data-type="107">ТВ. Рассыпание/замирание</button>
      <button class="btn-lg" value="support" data-type="108">ТВ. Каналы показывают 3-7 секунд</button>
      <button class="btn-lg" value="support" data-type="210">ТВ. Красный крест</button>
    </td>
  </tr>
	<tr style="text-align:center"><th>Конвергентные</th><th>IPTV-ШПД</th></tr>
	<tr style="text-align:center">
    <td>
      <button class="btn-lg" value="" data-type="252">Cмена услуг онлайн</button>
      <button class="btn-lg" value="" data-type="257">Синхронизация состояния</button>
      <button class="btn-lg" value="delivery" data-type="251">Дозаказ оборудования</button>
    </td>
    <td>
      <!-- <button class="btn-lg" value="" data-type="246">IPTV. Замена приставки</button> -->
      <button class="btn-lg" value="" data-type="272">ТВ. Замена приставки техником</button>
      <button class="btn-lg" value="delivery" data-type="94">Возврат ТВ-комплекта(бесплатно)</button>
      <button class="btn-lg" value="delivery" data-type="147">Интернет магазин. Замена ТВ-комплекта</button>
    </td>
  </tr>
	<tr style="text-align:center"><th colspan="2">Прочее</th></tr>
  <tr style="text-align:center">
    <td colspan="2">
      <button class="btn-lg" value="clientdep" data-type="9">Неправильное С.С</button>
      <button class="btn-lg" value="" data-type="37">ФК</button>
      <button class="btn-lg" value="" data-type="19">Компенсация</button>
      <button class="btn-lg" value="" data-type="285">Смена сервиса онлайн</button>
      <button class="btn-lg" value="" data-type="286">Заказ подключения/Дозаказ оборудования</button>
      <button class="btn-lg" value="" data-type="234">Ожидание переезда</button>
      <button class="btn-lg" value="clientdep" data-type="56">Сохранение</button>
      <button class="btn-lg" value="support" data-type="26" data-comment="Заявка с продаж">Заявка с продаж</button>
    </td>
  </tr>
</table>
<textarea id="textarea_comment" placeholder="Комментарий..." style="width: 20%"></textarea>
